@import "../../theme.scss";

.Button {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: $colorPrimary;
  color: $colorSecondary;
  transition: background-color 0.3s ease-out;
  outline: none;
  border: none;

  &_secondary {
    padding: 16px 20px;
  }

  &:hover {
    background-color: $colorPrimary;
  }
}
