@import "../../theme.scss";

.Grid {
  display: grid;
  gap: 32px;

  @media screen and ($tabletMedium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and ($tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and ($desktopLarge) {
    grid-template-columns: repeat(4, 1fr);
  }
}
