.Hero {
  position: relative;
  height: 570px;

  &-Figure {
    width: 100%;
    height: 100%;
  }

  &-Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &-Content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-ContentInner {
    max-width: 1280px;
    margin: 0 auto;
  }

  &-TextCard {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &-Title {
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 450px;
    margin-bottom: 24px;
  }

  &-Subtitle {
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.4px;
    max-width: 550px;
    margin-bottom: 32px;
  }
}
