@import "../../theme.scss";

.Section {
  background-color: $colorBgPrimary;

  &-Secondary {
    background-color: $colorBgSecondary;
  }

  &-Inner {
    padding: 64px 24px;

    @media screen and ($tablet) {
      padding: 72px 32px;
    }

    @media screen and ($desktop) {
      padding: 90px 0;
      max-width: 930px;
      margin: 0 auto;
    }

    @media screen and ($desktopLarge) {
      max-width: 1280px;
    }
  }

  &-Title {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;
    font-size: 28px;

    @media screen and ($tablet) {
      font-size: 32px;
    }

    @media screen and ($desktop) {
      font-size: 36px;
    }
  }

  &-Subtitle {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: $colorTextSecondary;
    font-size: 16px;
    margin-bottom: 48px;
  }
}
