@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "../src/theme.scss";


/*:root {
  --font-primary: "Inter", sans-serif;
  --color-primary: #bf3939;
  --color-primary-dark: #8a2828;
  --color-secondary: #ffffff;
  --color-black: #000000;
  --color-bg-primary: #f8f9fa;
  --color-bg-secondary: #ffffff;
  --color-text-primary: #151e28;
  --color-text-secondary: #6c757d;
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fontPrimary;
  color: $colorTextPrimary;
}

a {
  text-decoration: none;
  color: inherit;
}