$fontPrimary: "Inter", sans-serif;
$colorPrimary: #bf3939;
$colorPrimaryDark: #8a2828;
$colorSecondary: #ffffff;
$colorBlack: #000000;
$colorBgPrimary: #f8f9fa;
$colorBgSecondary: #ffffff;
$colorTextPrimary: #151e28;
$colorTextSecondary: #6c757d;

//breakpoints

$mobileLarge: "min-width:375px";
$tabletSmall: "min-width:481px";
$tabletMedium: "min-width:580px";
$tablet: "min-width:768px";
$desktop: "min-width:1024px";
$desktopLarge: "min-width:1300px";
