$fontPrimary: "Inter", sans-serif;
$colorPrimary: #bf3939;
$colorPrimaryDark: #8a2828;
$colorSecondary: #ffffff;
$colorBlack: #000000;
$colorBgPrimary: #f8f9fa;
$colorBgSecondary: #ffffff;
$colorTextPrimary: #151e28;
$colorTextSecondary: #6c757d;
